<div class="header topTransition" *ngIf="mapReady">
  <app-histogram [data]="data" [observableDate]="storyMapService.currentData"></app-histogram>
</div>
<app-map [bbox]="bbox" [lens]="true" [navigationControl]="true"></app-map>
<div class="summary leftTransition"  *ngIf="mapReady">
  <h1>{{'Ventas total €' | translate }}</h1>
  <app-counter [step]="counterStep" [countTo]="totalValue" [duration]="counterDuration"></app-counter>
</div>
<app-category-tab *ngIf="mapReady" class="leftTransition" [maxValue]="limits?.max" [observableData]="storyMapService.currentData"></app-category-tab>
<div class="title">
  <img height="46" src="/assets/symbol-repsol.png">
  <div>
    <h3>{{'Consumo' | translate}}</h3>
    <h1>{{'Operación salida verano' | translate}}</h1>
  </div>
</div>
<div *ngIf="mapReady && stationTitle" class="stationDetail opacityTransition">
  <h3>{{'Acumulado cada 4 horas' | translate }}</h3>
  <div>
    <app-counter [step]="counterStep" [countTo]="aggStDetail" [duration]="counterDuration"></app-counter>
    €
  </div>
  <h4>{{'Estación' | translate}} {{stationTitle}}</h4>
</div>
