<div class="header topTransition" *ngIf="mapReady">
  <app-histogram [data]="data" [observableDate]="storyMapService.currentData"></app-histogram>
</div>
<app-map [bbox]="bbox" [lens]="true" [navigationControl]="true"></app-map>
<div class="summary leftTransition"  *ngIf="mapReady">
  <h1>{{'Ventas total €' | translate }}</h1>
  <app-counter [step]="counterStep" [countTo]="totalValue" [countFrom]="beforeTotalValue" [duration]="counterDuration"></app-counter>
</div>
<app-category-tab *ngIf="mapReady" class="leftTransition" [maxValue]="limits?.max" [observableData]="storyMapService.currentData"></app-category-tab>
<div class="title">
  <img height="46" src="/assets/symbol-repsol.png">
  <div>
    <h3>{{'Consumo' | translate}}</h3>
    <h1>{{'Estaciones y su evolución' | translate}}</h1>
  </div>
</div>
