@import "common.scss";
:host {
  // width: 244px;
  border: 2px solid #F0F0F0;
  border-radius: 2px;
  background-color: $colorSecondary7;
  color: $colorSecondary1;
  display: block;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  button.close {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    padding: 4px;
    width: 20px;
    height: 20px;
    &:before {
      @include pseudoElemIcon('/assets/icons/close.svg', 12px, 12px);
    }
  }
  .temp {
    position: absolute;
    bottom: 200px;
    left: 100px;
    margin-left: 6px;
    padding: 0 6px;
    border: 4px solid $colorTempBorder;
    background-color: $colorTempBg;
    width: 130px;
    font-size: 48px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    @include font('repsolviet');
    &:before {
      @include pseudoElemIcon('/assets/icons/weather/moon.svg', 28px, 28px);
      margin-right: 6px;
    }
    &.sun:before {
      background-image: url('/assets/icons/weather/sun.svg');
    }
    &.sun.clouds:before {
      background-image: url('/assets/icons/weather/sun_cloud.svg');
    }
    &:not(.sun).clouds:before {
      background-image: url('/assets/icons/weather/moon_cloud.svg');
    }
    &.open {
      top: 50%;
      left: 100%;
      bottom: unset;
    }
  }
  .open-label {
    position: absolute;
    top: 14px;
    right: 14px;
    padding: 0 4px;
    border-radius: 2px;
    background-color: $colorOpen;
    color: $colorWhite;
    font-size: 12px;
    line-height: 16px;
    @include font(bold);
  }
  .services {
    img {
      width: 24px;
      height: 24px;
      margin-left: 12px;
      margin-top: 12px;
    }
  }
  .tabs {
    display: flex;
    align-items: center;
    button {
      flex: 1 1 50%;
      margin: 0;
      border: none;
      border-bottom: 2px solid $colorBorder;
      background: transparent;
      color: $colorSecondary4;
      @include font(medium);
      font-size: 14px;
      line-height: 14px;
      padding: 14px;
      text-align: center;
      &.selected {
        border-color: currentColor;
      }
      &.waylet {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $colorWaylet;
        padding: 8px 14px;
        img {
          width: 26px;
          height: 26px;
          border-radius: 8px;
          margin-right: 8px;
        }
      }
    }
  }
  .waylet-wrapper {
    position: relative;
    padding-bottom: 12px;
    height: 236px;
    overflow: hidden;
    .info {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 1;
    }
    &:after {
      content: '';
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, $colorSecondary7 0%, transparent 80%);
    }
    &.animate {
      animation-fill-mode: forwards;
      animation-duration: 0.5s;
      animation-name: wayletList;
    }
  }
  .waylet-item {
    padding: 12px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $colorBorder;
    box-sizing: border-box;
    small {
      font-size: 12px;
      margin: 0 12px;
    }
    strong {
      @include font(bold);
      min-width: 52px;
    }
    span {
      flex-grow: 1;
      font-size: 14px;
      &.platino {
        &:before {
          @include pseudoElemIcon('/assets/icons/medals/user_platino.svg', 14px, 14px);
        }
      }
      &.oro {
        &:before {
          @include pseudoElemIcon('/assets/icons/medals/user_oro.svg', 14px, 14px);
        }
      }
      &.plata {
        &:before {
          @include pseudoElemIcon('/assets/icons/medals/user_plata.svg', 14px, 14px);
        }
      }
      &.bronce {
        &:before {
          @include pseudoElemIcon('/assets/icons/medals/user_bronce.svg', 14px, 14px);
        }
      }
      &:before {
        margin-right: 12px;
      }
    }
  }
  &.open {
    margin-bottom: 55px;
    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: calc(50% - 1px);
      width: 2px;
      height: 60px;
      background-color: $colorWhite;
    }
    .allInfo {
      opacity: 1;
      pointer-events: auto;
      width: auto;
      height: auto;
      width: 250px;
      max-height: 445px;
      transition: opacity $animationTimeFast $animationFuncAlt $animationTimeFast, width $animationTimeFast $animationFuncAlt, max-height $animationTimeFast $animationFuncAlt;
      position: relative;
    }
    .imageMini {
      opacity: 0;
      overflow: hidden;
      width: 0;
      height: 0;
      transition: opacity $animationTimeFast $animationFuncAlt, width $animationTimeFast $animationFuncAlt, height $animationTimeFast $animationFuncAlt;
    }
  }
  .allInfo {
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    width: 0;
    max-height: 0;
    transition: opacity $animationTimeFast $animationFuncAlt, width $animationTimeFast $animationFuncAlt $animationTimeFast, max-height $animationTimeFast $animationFuncAlt $animationTimeFast;
  }
  .imageMini, .image {
    background-size: cover;
    background-position: center;
  }
  .imageMini {
    width: 36px;
    height: 36px;
    transition: opacity $animationTimeFast $animationFuncAlt $animationTimeFast, width $animationTimeFast $animationFuncAlt $animationTimeFast, height $animationTimeFast $animationFuncAlt $animationTimeFast;
  }
  .image {
    width: 100%;
    height: 160px;
  }
  .header, .content {
    padding: 0 14px;
  }
  .header {
    margin: 12px 0;
    h3 {
      font-size: 14px;
      line-height: 14px;
      @include font(semibold);
      color: $colorPrimary;
    }
    >div {
      font-size: 12px;
      line-height: 16px;
      margin-top: 2px;
      app-counter {
        display: inline-block;
        font-size: 16px;
        @include font(bold);
      }
      span {
        @include font(regular);
      }
    }
  }
  .content {
    padding-top: 12px;
    >div {
      font-size: 16px;
      @include font(regular);
      line-height: 16px;
      &+div {
        margin-top: 2px;
      }
      app-counter {
        display: inline-block;
      }
      sup {
        font-size: 10px;
        position: relative;
        bottom: 6px;
        margin-left: 1px;
      }
      span {
        font-size: 12px;
      }
    }
  }
  h5.info {
    margin: 16px 0 18px 0;
    color: $colorSecondary2;
    font-size: 12px;
    line-height: 12px;
    @include font(bold);
    padding-right: 14px;
    text-align: right;
  }

  .li-enter-anim {
    animation: listEnter $animationTimeDefault $animationFuncAlt;
    animation-fill-mode: both;
  }
}

@keyframes listEnter {
  from {
    max-height: 0;
    opacity: 0;
    padding: 0 12px;
  }
  to {
    max-height: 100%;
    opacity: 1;
    padding: 12px;
  }
}