<h3>{{'Venta acumulada' | translate}}<br>{{'diaria €' | translate}}</h3>
<div class="counters">
  <div>
    <h4>{{'Oil' | translate}}</h4>
    <!-- <app-counter [step]="counterStep" [countTo]="aggValueOil" [duration]="counterDuration"></app-counter> -->
  </div>
  <div>
    <h4>{{'Non Oil' | translate}}</h4>
    <!-- <app-counter [step]="counterStep" [countTo]="aggValueNonOil" [duration]="counterDuration"></app-counter> -->
  </div>
</div>
<div class="categories" [class.inverCircleTransition]="restartAgg">
  <div class="group">
    <div>
      <div class="category red">
        <div *ngFor="let c of totalCircles; let i = index" class="circle" [ngStyle]="{'background-color': 'rgba(228, 0, 40, '+ getLevel(totalCircles.length - i, 'cost_gasoline') +')'}"></div>
        <div class="label">
          <span>{{'Gasolina' | translate}}</span>
        </div>
      </div>
      <div class="category orange">
        <div *ngFor="let c of totalCircles; let i = index" class="circle" [ngStyle]="{'background-color': 'rgba(255, 184, 28, '+ getLevel(totalCircles.length - i, 'cost_diesel') +')'}"></div>
        <div class="label">
          <span>{{'Diesel' | translate}}</span>
        </div>
      </div>
    </div>
    <span class="title">{{'Oil' | translate}}</span>
  </div>
  <div class="group">
    <div>
      <div class="category grey">
        <div *ngFor="let c of totalCircles; let i = index" class="circle" [ngStyle]="{'background-color': 'rgba(156, 144, 129, '+ getLevel(totalCircles.length - i, 'cost_shop') +')'}"></div>
        <div class="label">
          <span>{{'Tienda' | translate}}</span>
        </div>
      </div>
      <div class="category blue">
        <div *ngFor="let c of totalCircles; let i = index" class="circle" [ngStyle]="{'background-color': 'rgba(74, 144, 226, '+ getLevel(totalCircles.length - i, 'cost_wash') +')'}"></div>
        <div class="label">
          <span>{{'Lavado' | translate}}</span>
        </div>
      </div>
    </div>
    <span class="title">{{'Non Oil' | translate}}</span>
  </div>
</div>
