@mixin font($font: normal, $weight: false) {
  @if $font == regular {
    font-family: 'titillium-regular', sans-serif;
  } @else if $font == semibold {
    font-family: 'titillium-semibold', sans-serif;
  } @else if $font == bold {
    font-family: 'titillium-bold', sans-serif;
  }@else if $font == repsolviet {
    font-family: 'repsolviet-regular', sans-serif;
  }
  @if $weight {
    font-weight: $weight;
  }

}

@mixin pseudoElemIcon($file, $height, $width) {
  content: '';
  display: inline-block;
  height: $height;
  width: $width;
  background-image: url($file);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin noselect() {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
