@font-face {
  font-family: 'titillium-regular';
  src: url('/assets/fonts/titillium-regular-webfont.eot');
  src: url('/assets/fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/titillium-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/titillium-regular-webfont.woff') format('woff'),
       url('/assets/fonts/titillium-regular-webfont.ttf')  format('truetype'),
       url('/assets/fonts/titillium-regular-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'titillium-semibold';
  src: url('/assets/fonts/titillium-semibold-webfont.eot');
  src: url('/assets/fonts/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/titillium-semibold-webfont.woff2') format('woff2'),
       url('/assets/fonts/titillium-semibold-webfont.woff') format('woff'),
       url('/assets/fonts/titillium-semibold-webfont.ttf')  format('truetype'),
       url('/assets/fonts/titillium-semibold-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'titillium-bold';
  src: url('/assets/fonts/titillium-bold-webfont.eot');
  src: url('/assets/fonts/titillium-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/titillium-bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/titillium-bold-webfont.woff') format('woff'),
       url('/assets/fonts/titillium-bold-webfont.ttf')  format('truetype'),
       url('/assets/fonts/titillium-bold-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'repsolviet-regular';
  src: url('/assets/fonts/repsolviet-regular-webfont.eot');
  src: url('/assets/fonts/repsolviet-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/repsolviet-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/repsolviet-regular-webfont.woff') format('woff'),
       url('/assets/fonts/repsolviet-regular-webfont.ttf')  format('truetype'),
       url('/assets/fonts/repsolviet-regular-webfont.svg#svgFontName') format('svg');
}

$colorPrimary: #0255A5;
$colorAccent: #1785FB;
$colorSecondary: #C8B17B;

$colorBlack: #000;
$colorN100: #191919;
$colorN90: #2B2B2B;
$colorN80: #414141;
$colorN70: #545454;
$colorN60: #666666;
$colorN50: #808080;
$colorN40: #999999;
$colorN30: #B3B3B3;
$colorN20: #CCCCCC;
$colorN10: #E6E6E6;
$colorN05: #F2F2F2;
$colorWhite: #FFF;

$animationFuncDefault: ease;
$animationFuncAlt: linear;
$animationTimeDefault: .5s;
$animationTimeFast: .25s;
$animationTimeBlink: .125s;
